.planning{
    width: 100%;
    height: 100%;
    position: static;
}

.planning__image{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.planning__title{
    color: white;
    position: relative;
    top: 55%;
    left: 50%;
    transform: translate( -50%, -700% );
    width: 100%;
    font-size: var(--h1-font-size);
    text-align: center;
}

.planning__form{
    background: var(--body-color);
    border-radius: 1rem;

    border: 2px solid rgba(0, 0, 0, 0.3);
    width: 50%;
    height: 500px;
    padding: 60px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
}

.planning__form-row {
    display: flex;
    justify-content: space-between;
  }

.planning__form-div{
    position: relative;
    margin-bottom: var(--mb-2);
    height: 4rem;
}
.from,.to{
    width: 45%;
    
}



.planning__form-input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    border: 2px solid rgba(0, 0, 0, 0.3);
    background: none;
    /* color: var(--text-color); */
    outline: none;
    border-radius: 0.75rem;
    padding: 1.5rem;
    z-index: 1;
}

.planning__form-tag{
    position: absolute;
    top: -0.75rem;
    left: 1.25rem;
    font-size: var(--smaller-font-size);
    padding: 0.25rem;
    background-color: var(--body-color);
    z-index: 10;
}

.planning__form-area{
    height: 16rem;
}

.planning__form-area textarea{
    resize: none;
}


.form__container{
    text-align: center;
}

.btn{
    text-align: end;
}

.planning_container{
    padding-bottom: 100px;
}

.planning__result{
    font-size: var(--h3-font-size);
    position: relative;
    top: 105%; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: var(--body-color); /* Background color */
    border: 1px solid #ccc; /* Border */
    border-radius: 5px; /* Border radius */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow */
    text-align: center; /* Center the text */
    font-size: 18px; /* Font size */
    color: #333; /* Text color */
}