.input[type="checkbox"]:checked + label::before {
  color: grey; /* Change the color of the tick mark when checked */
}
.input{
  cursor: pointer;
  accent-color: var(--title-color);
}
  
label {
    font-size: var(--smaller-font-size);
    padding-left: 0.5rem;
    cursor: pointer;
  }