.card__container{
    background: var(--container-color);
    display: flex;
    flex-wrap: wrap;
    margin-left: 30rem;
    margin-top: 3rem;
    z-index: -2;
    
}

.card{
    height: 400px;
    background: var(--body-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    cursor: pointer;
    border-radius: 1rem;
    align-items: center;
    flex-direction: column; 
    align-items: center; 
    text-align: center;
    margin-right: 42px;
    margin-bottom: 40px;
}

.card__img{
    width: 25rem;
    height: 15rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

.card__title{
    margin-bottom: 1rem;
    font-size: var(--small-font-size);
}

.card__subtitle{
    font-size: var(--smaller-font-size);
    width: 298px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.card__modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: var(--z-modal);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    opacity: 0;
    visibility: hidden;
}

.card__modal-content{
    width: 1000px;
    position: relative;
    background-color: var(--container-color);
    padding: 4.5rem 2.5rem 2.5rem;
    border-radius: 1.5rem;
}

.card__modal-img{
    margin-left: 321px;
    width: 25rem;
    height: 15rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

.card__modal-close{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: var(--title-color);
    cursor: pointer;
}

.card__modal-title,.card__modal-description{
    text-align: center;
}

.card__modal-rd,.card__modal-contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.card__modal-activities{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.card__modal-activities ul {
    list-style-type: circle;
    padding: 0.5rem; /* Add unit */
}

.card__modal-activities li {
    line-height: 2;
}



.card__modal-rd h4{
    margin-left: 20px;
}



.card__modal-title{
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
    mask-clip: var(--mb-1);
}

.card__modal-description{
    font-size: var( --normal-font-size);
    padding: 0 3.5rem;
    margin-bottom: var(--mb-2);
}
.card__modal-card{
    row-gap: 0.75rem;

}

.card__modal-service{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;

}

.card__modal-icon{
    color: var(--title-color);
    font-size: 1.1rem;

}

.card__modal-info{
    font-size: var(--small-font-size);
}

.active-modal{
    opacity: 1;
    visibility: visible;
}

.card__modal-elements{
    padding-left: 1rem;
    /* mar */
}

.card__modal-location{
    text-align: center;
    margin-right: 20px;
}
.title{
    margin-right: 20px;
}

.location{
    color: var(--title-color);
}

.arrow{
    font-size: 10px;

}